<div *ngIf="post" class="row">
    <div class="col-md-12">
      <h2 *ngIf="post._id">post Details</h2>
      <h2 *ngIf="!post._id">New post</h2>
    </div>
  </div>
  <div *ngIf="post" class="row">
    <form class="col-md-12">
      <div class="form-group">
        <label for="post-title">Title</label>
        <input class="form-control" name="post-title" [(ngModel)]="post.title" placeholder="Title"/>
      </div>
      <div class="form-group">
        <label for="post-date">Email</label>
        <input class="form-control" name="post-date" [(ngModel)]="post.date" placeholder="2020-05-28"/>
      </div>
      <div class="form-group">
        <label for="post-content">Mobile</label>
        <input class="form-control" name="post-content" [(ngModel)]="post.content" placeholder="Content"/>
      </div>
      <div class="form-group">
        <label for="post-tags">Work</label>
        <input class="form-control" name="post-tags" [(ngModel)]="post.tags" placeholder="Tag"/>
      </div>
      <button class="btn btn-primary" *ngIf="!post._id" (click)="createpost(post)">Create</button>
      <button class="btn btn-info" *ngIf="post._id" (click)="updatepost(post)">Update</button>
      <button class="btn btn-danger" *ngIf="post._id" (click)="deletepost(post._id)">Delete</button>
    </form>
  </div>
