$disliked: black;
$liked: rgba(255, 238, 0, 0.747);
$loved: magenta;

.liked-0 {
    color: $disliked;
}
.liked-1 {
    color: $disliked;
}
.liked-2 {
    color: $disliked;
}
.liked-3 {
    color: $liked;
}
.liked-4 {
    color: $liked;
}
.liked-5 {
    color: $loved;
}
