<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <div class="row">
                <div class="col-md-3">
                    <h2>Reviews</h2>
                </div>
                <div class="col-md-9">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                            filters: {{partialTitle === '' ? '' : 'title like \"'+partialTitle+'\",' }} viewed from
                            {{startDate}} to
                            {{endDate}}, ratings {{ratings}}
                        </button>
                    </h2>
                </div>
            </div>
        </div>
        <div class="collapse" id="collapseFilters" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="applyFilter()">
                    <div class="form-row">
                        <label for="partialTitle">Title</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Title" aria-label="Title"
                                aria-describedby="button-addon2" name='partialTitle' [(ngModel)]="partialTitle"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-row">
                        <label>Start and end date</label>
                        <div class="input-group">
                            <input type="date" aria-label="Start Date" class="form-control" name="startDate"
                                [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}">
                            <input type="date" aria-label="End Date" class="form-control" name="endDate"
                                [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label>Ratings : </label>
                            <label formArrayName="ratings"
                                *ngFor="let rating of ratingsFormArray.controls; let i = index">
                                <input type="checkbox" [formControlName]="i">
                                {{toto[i].name}}
                            </label>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-primary mb-2" (click)="applyFilter()"
                            data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false"
                            aria-controls="collapseFilters">Filter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>