<div class="row" *ngIf="isLoggedIn; else elseBlock">
  <div class="col-md-12" *ngIf="!selectedPost">
    <div class="row">
      <div class="col-md-12">
        <app-filter (filterRequested)="filterPosts($event)" [startDate]="filterStartDate" [endDate]="filterEndDate"
          [ratings]="filterRatings" [partialTitle]="partialTitle"></app-filter>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="Post Pagination">
          <ul class="pagination">
            <li class="page-item" [ngClass]="{'disabled' : currentPage <= 1}">
              <a class="page-link" href="#" (click)="reloadPosts(currentPage - 2)">Previous</a>
            </li>
            <li *ngFor="let item of [].constructor(nbPages); let i = index"
              [ngClass]="{'page-item' : true, 'active' : (i+1)==currentPage}">
              <a class="page-link" href="#" (click)="reloadPosts(i)">{{i+1}}</a>
            </li>
            <li class="page-item" [ngClass]="{'disabled' : nbPages==currentPage}">
              <a class="page-link" href="#" (click)="reloadPosts(currentPage)">Next</a>
            </li>
          </ul>
        </nav>
        <div class="row card-group">
          <div class="col-md-12" *ngFor="let post of posts" (click)="selectPost(post)">
            <div class="media mb-1">
              <img src="{{post.imageurl}}" width="64px" class="mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0">{{post.title}} ({{post.year}})<app-rating-viewer [rating]=post.rating>
                  </app-rating-viewer>
                  <small><i> vu le {{post.date}}</i></small></h5>
                short summary
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary mt-1" (click)="createNewPost()">New</button>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="selectedPost">
    <button class="btn btn-secondary mt-1 mb-1" (click)="unselectPost()">back</button>
    <div *ngIf="isEdit; else detailsElseBlock">
      <app-post-details [post]="selectedPost" [createHandler]="addPost" [updateHandler]="updatePost"
        [deleteHandler]="deletePost">
      </app-post-details>
    </div>
    <ng-template #detailsElseBlock>
      <app-post-details-noedit [post]="selectedPost">
      </app-post-details-noedit>
    </ng-template>
  </div>
</div>
<ng-template #elseBlock>nothing to display</ng-template>